html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  width: auto;
  background-color: rgb(241, 243, 246);
  overflow-x: hidden;
}
.fk-body {
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(241, 243, 246);
}
.fk-deal {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.fk-banner--mb {
  margin-bottom: 10px;
}
header {
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.navbar--blue {
  background-color: rgb(40, 116, 240);
  height: 56px;
  line-height: 19.6px;
  width: 100%;
}
.nav-link--color {
  color: white;
}
.form-control--size {
  width: 433px;
  height: 35px;
  border-radius: 0;
  font-size: 14px;
}
.header-container {
  width: 1025px;
}
.header__button {
  height: 35px;
  border-radius: 0%;
  
}
.header__button--size {
  padding: 5px 40px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
 
}
.header__text {
  font-size: 16px;
  font-weight: 500;
  
}
.nav-margin{
  margin-left: 100px;
}
@media only screen and (device-width: 768px){
  .nav-icons{
    margin-top: 10px;
  }
  ._3CuAg8 {
    color: rgb(86, 86, 86);
    text-decoration-line: none;
    border-right: 1px solid black;
    padding: 0px 4px;
    line-height: 26px;
    
  }
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    width: max-content;
    overflow-y: auto;
  }
}
/* header */
/* mega dropdown */

.dropdown-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}
/* mega dropdown */
/* slider */
/* .fk-slider {
  padding: 0px 0px 0px 0px;
} */
.carousel-button {
  width: 3%;
  opacity: 1 !important ;
  background-color: rgb(255, 255, 255);
  height: 40%;
  margin-top: 90px;
  color: black !important;
  font-size: 1.8em;
  text-decoration: none;
}
.carousel-control-prev {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.carousel-control-next {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* slider */
/* cards */
.fk-body--margin {
  margin-left: 13px;
  margin-right: 13px;
}
.category {
  padding: 15px 8px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 65px;
  letter-spacing: 0;
  line-height: 1.4;
}
.category__heading {
  font-size: 22px;
  line-height: 32px;
  display: inline-block !important ;
  font-weight: 500;
}
.category__button {
  width: 95px;
  height: 35px;
  border-radius: 0%;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 500;
}

/* cards */
@media (min-width: 1025px) {
  .fk-cardsection {
    padding-bottom: 10px;
    background-color: white;
    
  }
  .row{
    justify-content: space-between;
  }
  .fk-cardcol {
    padding: 25px 15px;
    width: 190px;
    height: 300px;
  }
  .fk-cardcol__card {
    border: none;
  }
  .fk-cardcol__img {
    width: 150px;
    height: 150px;
    margin: 7.5px;
  }
  .fk-cardcol__caption {
    font-size: 13px;
    letter-spacing: normal;
    display: block;
  }
  .fk-cardcol__caption--mt {
    margin-top: 15px;
  }
  .fk-cardcol__caption--green {
    color: rgb(56, 142, 60);
    padding-top: 8px;
  }
  .fk-cardcol__caption--grey {
    color: rgb(133, 132, 132);
    padding-top: 7px;
  }
}
/* mobile view */
@media (min-width: 375px) and (max-width: 812px) {
  .fk-cardsection {
    padding-bottom: 10px;
    background-color: white;
  }
  .fk-cardsection--margin {
    margin-left: 0px;
  }
  .fk-cardcol {
    padding: 25px 15px;
    width: 293px;
    height: 450px;
  }
  .fk-cardcol__card {
    border: none;
  }
  .fk-cardcol__img {
    width: 190px;
    height: 190px;
    margin: 41px;
  }
  .fk-cardcol__caption {
    font-size: 14px;
    letter-spacing: normal;
    display: block;
  }
  .fk-cardcol__caption--mt {
    margin-top: 15px;
  }
  .fk-cardcol__caption--green {
    color: rgb(56, 142, 60);
    padding-top: 8px;
  }
  .fk-cardcol__caption--grey {
    color: rgb(133, 132, 132);
    padding-top: 7px;
  }
  .category__button {
    width: 95px;
    height: 35px;
    border-radius: 0%;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
    
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fk-cardsection {
    padding-bottom: 10px;
    background-color: white;
  }
  .fk-cardsection--margin {
    margin-left: 0px;
  }
  .fk-cardcol {
    padding: 25px 15px;
    width: 290px;
    height: 460px;
  }
  .fk-cardcol__card {
    border: none;
  }
  .fk-cardcol__img {
    width: 230px;
    height: 230px;
    margin: 30px;
  }
  .fk-cardcol__caption {
    font-size: 21px;
    letter-spacing: normal;
    display: block;
  }

  .fk-cardcol__caption--green {
    color: rgb(56, 142, 60);
    padding-top: 8px;
    margin-bottom: 0px;
  }
  .fk-cardcol__caption--grey {
    color: rgb(133, 132, 132);
    padding-top: 7px;
  }
  .category {
    padding: 15px 8px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 125px;
    letter-spacing: 0;
    line-height: 1.4;
  }
  .category__heading {
    font-size: 40px;
    line-height: 32px;
    display: inline-block !important ;
    font-weight: 500;
    padding-top: 30px;
  }
  .category__button {
    width: 200px;
    padding-top: 15px;
    margin-top: 10px;
    height: 70px;
    border-radius: 5px;
    line-height: 1.4;
    font-size: 25px;
    font-weight: 500;
    margin-right: 50px;
  }
  .navbar--blue {
    background-color: rgb(40, 116, 240);
    height: 100px;
    line-height: 19.6px;
    width: 100%;
  }

  .header__button {
    height: 50px;
    border-radius: 0%;
  }
  .form-control--size {
    width: 433px;
    height: 50px;
    border-radius: 0;
    font-size: 20px;
  }
  .nav-link--color {
    color: white;
  }
  .header__button--size {
    padding: 5px 40px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .header__text {
    font-size: 20px;
    font-weight: 500;
  }
}
/* cards */
/* banner */
.banner {
  padding-right: 0px;
  position: relative;
  margin-top: 10px;
}
.banner__image {
  width: 486px;
  height: 230px;
}
.banner__image--padding {
  padding-right: 13px;
}
.banner__image--align {
  margin-top: 22px;
  margin-bottom: 15px;
}
/* mobile view */
@media (min-width: 375px) and (max-width: 812px) {
  .banner__image {
    width: 486px;
    height: 230px;
  }
  .banner {
    padding-right: 0px;
    width: 33.33%;
  }
  .carousel-button {
    width: 1%;
    opacity: 1 !important ;
    background-color: rgb(255, 255, 255);
    height: 40%;
    margin-top: 90px;
    color: black !important;
    font-size: 1.8em;
    text-decoration: none;
  }
  .fk-footer {
    background-color: white;
    width: 1500px;
  }
  .fk-sec--width {
    width: 1500px;
  }
  .fk-footer--mt {
    /* margin-top: 40px; */
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .fk-footer__sec2 {
    padding: 35px;
    display: inline;
    font-size: 20px;
    line-height: 26.8px;
    text-align: left;
    color: rgb(135, 135, 135);
    letter-spacing: normal;
  }
}
/* ipad */
@media (min-width: 768px) and (max-width: 1024px) {
  .fk-sec--width {
    width: 1950;
  }
  .fk-footer--mt {
    margin-top: 40px;
    padding-right: 460px;
    padding-left: 0px;
  }
  .banner {
    padding-right: 0px;
    padding-left: 26px;
    width: 33.33%;
  }
  .banner__image {
    width: 620px;
    height: 230px;
  }
  .fk-footer {
    background-color: white;
    width: 1950px;
  }
  .fk-footer__sec1 {
    padding-left: 45px;

    display: inline;
    font-size: 19px;
    line-height: 31.8px;
    text-align: left;
    color: rgb(86, 86, 86);
    letter-spacing: normal;
  }
  .fk-footer__sec2 {
    padding: 35px;
    display: inline;
    font-size: 20px;
    line-height: 26.8px;
    text-align: left;
    color: rgb(135, 135, 135);
    letter-spacing: normal;
  }
  ._3CuAg8 {
    color: rgb(86, 86, 86);
    text-decoration-line: none;
    
  
   
  }
  ._2oyLgr {
    color: rgb(132, 132, 132);
    font-size: 14px;
    
  }
  .LfkXVL {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .fk-footer__h1 {
    font-size: 16px;
    color: rgb(135, 135, 135);
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }
  .fk-footer__h2 {
    font-size: 14px;
    color: rgb(135, 135, 135);
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }
  .carousel-button {
    width: 2%;
    opacity: 1 !important ;
    background-color: rgb(255, 255, 255);
    height: 40%;
    margin-top: 90px;
    color: black !important;
    font-size: 1.8em;
    text-decoration: none;
  }
}

.text-block {
  position: absolute;
  top: 20px;
  left: 12px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.fk-banner__button {
  background-color: rgb(180, 76, 76);
  height: 25px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  padding-top: 2px;
  margin-top: -9px;
}
.fk-banner__P {
  font-size: 25px;
  font-weight: lighter;
  margin-top: -9px;
}
.fk-banner__p--mr {
  font-size: 23px;
  margin-right: 150px;
  font-weight: 450;
}
.fk-banner__button--black {
  background-color: black;
}
.fk-banner__button--orange {
  background-color: rgb(231, 83, 83);
}
/* banner */
/* footer */
/* COMPUTER */
@media (min-width: 1025px) {
  .fk-footer {
    background-color: white;
    border-top: 3px;
    border-color: black;
  }
  .fk-footer__sec1 {
    padding: 35px;
    display: inline;
    font-size: 12px;
    line-height: 16.8px;
    text-align: left;
    color: rgb(86, 86, 86);
    letter-spacing: normal;
  }
  .fk-footer__sec2 {
    padding: 35px;
    display: inline;
    font-size: 11px;
    line-height: 16.8px;
    text-align: left;
    color: rgb(135, 135, 135);
    letter-spacing: normal;
  }
  ._3CuAg8a{
    color: rgb(86, 86, 86);
    text-decoration-line: none; 
  }
  ._3CuAg8 {
    color: rgb(86, 86, 86);
    text-decoration-line: none;
    border-right: 1px solid black;
    padding: 0px 4px;
    line-height: 26px;
    
  }
  ._2oyLgr {
    color: rgb(132, 132, 132);
    font-size: 14px;
    
    
  }
  .LfkXVL {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .fk-footer__h1 {
    font-size: 16px;
    color: rgb(135, 135, 135);
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }
  .fk-footer__h2 {
    font-size: 14px;
    color: rgb(135, 135, 135);
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }
}
.fk-footer--mt {
  margin-top: 40px;
}
/* footer */
footer {
  background-color: #172337;
  height: 346px;
}
.fk-footer__bgcolor{
  background-color: #172337;

}
.fk-bfooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}
.fk-bfooter--margin {
  padding-top: 40px;
  width: 90%;
  margin-left: 62px;
}
.list {
  height: 179px;
  width: 170.141px;
}
.list__title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 16.8px;
  margin-bottom: 9px;
  color: #878787;
  display: contents;
}
.list__item {
  letter-spacing: -0.2px;
  line-height: 24px;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
}
.address {
  font-size: 11px;
  line-height: 2.8px;
  padding-right: 25px;
  height: 133px;
  width: 287.469px;
  display: flex;
  padding-top: 9px;
}
.list--width {
  border-left: 1px solid rgb(69, 77, 94);
  width: 17em;
  padding-left: 25px;
}
.list--width2 {
  width: 16em;
  padding-left: 25px;
}
.footer-bottom {
  border-top: 1px solid #454d5e;
  padding: 25px;
  padding-left: 120px;
  margin-top: 40px;
  width: 100%;
  
}
.footer-bottom-logo{
  margin-top: -6px;
  padding: 5px;
}
.footer-bottom-text {
  display: inline-block;
  text-decoration: none;
  padding-right: 57px;
  font-size: 15px;
  color: white;
  margin-left: -6px;
  
}
